.app-container {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: end;
  justify-content: end;
  font-size: 1.5em;
  color: white;
  text-shadow: lightblue 0 0 4px;
  letter-spacing: 0.1rem;
  white-space: pre;
  padding: 16px;
}

.terminal-container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.terminal-container p {
  margin: 0;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-container > input {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  max-height: 1.4em;
  font: inherit;
  font-size: 0.77em;
  text-decoration: none;
  all: unset;
  line-height: inherit;
}

* > *::selection,
* > *::-moz-selection {
  color: #282c34;
  background-color: white;
}
