:root {
  --background-color: #282c34;
}

* {
  caret: white underscore;
}

.green,
.blue {
  display: inline;
}

.green {
  color: lightgreen;
}

.blue {
  color: lightblue;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

code {
  font-family: monospace;
}
