:root {
  --background-color: #282c34;
}

html,
#root {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0;
  background-color: var(--background-color);
}

* {
  caret: white underscore;
}

.green,
.blue {
  display: inline;
}

.green {
  color: lightgreen;
}

.blue {
  color: lightblue;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  flex-direction: column;
  font-family: monospace;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

code {
  font-family: monospace;
}
